@import "sass-mixins/grid/_column-policy";
@include column-policy-options($use-nth-of-type:true, $use-data-attribute:false, $column-padding:20px);
@include column-policy-base;

$max-content-width: 14 * 80px;
$large-size: 13 * 80px;
$medium-size: 9 * 80px;
$fixed-width-column: 320px;
$gutter: 20px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page {
    @media (min-width: $medium-size) {
        @include column-policy(50%, 50%);
    }

    @media (min-width: $large-size) {
        @include column-policy($fixed-width-column, 100%, $fixed-width-column);
    }
}

.page-padding {
    margin: 0 $gutter;
    max-width: $max-content-width - $gutter;

    @media (min-width: $max-content-width + $gutter) {
        margin: 0 auto;
    }
}
