@import "../utilities/_clear-fix";

$column-policy-flag-nth-of-type-support: true !default;
$column-policy-flag-data-attribute-support: true !default;
$column-policy-flag-nth-child-hack-support: false !default;
$column-policy-flag-nth-child-hack-depth: 20 !default;

//
// Defines styles for all columns.
//
[data-column] {
    float: left;
    position: relative;
}

//
// This mixin generates styles for the column block. It deines how each
// column should act (fixed vs. fluid). A data-column attribute
// indicates that the div is part of a grid column layout. The value of
// the data-column attribute indicates which column the content should
// show up in. The value can have multiple values delimited by spaces. 
// For this mixin the column modifiers must follow the physical ordering
// of the divs (the first div has an attribute of data-column="2-1", the
// second div data-column="2-2".
//
// Example of creating a simple two column layout with a fixed width
// second column:
//
// HTML
//
//     <div class="content">
//         <div data-column="2-1">Some content here</div>
//         <div data-column="2-2">Some additional content here</div>
//         <div data-column="2-1">Some content here</div>
//         <div data-column="2-2">Some additional content here</div>
//     </div>
//
// SASS
//
//     .content {
//         @include column-policy(100%, 320px);
//     }
//
// Example of creating a fluid 3 column layout for screen sizes of 800px
// or greater and a two column layout for screen sizes less then 800px.
//
// HTML
//
//     <div class="content">
//         <div data-column="2-1 3-1">Some content here</div>
//         <div data-column="2-2 3-2">Some content here</div>
//         <div data-column="2-1 3-3">Some content here</div>
//         <div data-column="2-2 3-1">Some content here</div>
//         <div data-column="2-1 3-2">Some content here</div>
//         <div data-column="2-2 3-3">Some content here</div>
//     </div>
//
// SASS
// 
//     .content {
//         @include column-policy(100%, 320px);
//
//         @media (min-width: 800px) {
//             @include column-policy(33%, 34%, 33%);
//         }
//     }
//
@mixin column-policy($columnWidths...) {
    $totalColumns: length($columnWidths);
    $fixedWidths: 0;

    //
    // Cacluate the correct padding needed based on the total fixed
    // width columns.
    //
    @each $width in $columnWidths {
        $unit: unit($width);

        @if ($unit != "%") {
            $fixedWidths: $fixedWidths + $width;
        }
    }

    & {
        @include clear-fix;
        padding-left: $fixedWidths;
    }

    //
    // Determine the left and left-margin to generate for each column.
    //
    $totalFixedWidths: $fixedWidths;
    $totalPercentageWidths: null;
    @for $columnToDisplay from 1 to $totalColumns + 1 {
        $clear: none;
        $columnWidth: nth($columnWidths, $columnToDisplay);
        $left: null;
        $margin: null;

        @if ($columnToDisplay == 1) {
            $clear: left;
        }

        @if ($columnToDisplay == $totalColumns) {
            $clear: right;
        }

        //
        // Fluid and fixed columns are treated differently. Fluid
        // columns get the left property modified this way the column
        // following the fluid column does not need to calculate the
        // fluid width when trying to move into place. Fixed columns
        // get the margin-left property modified.
        //
        @if (unit($columnWidth) == "%") {
            $margin: 0;
            $left: -$totalFixedWidths;

            @if ($totalPercentageWidths == null) {
                $totalPercentageWidths: 100%;
            }

            $totalPercentageWidths: $totalPercentageWidths - $columnWidth;
        } @else {
            $margin: -$totalFixedWidths;
            $left: -$totalPercentageWidths;

            @if ($totalPercentageWidths == null) {
                $left: 0;
            }

            $totalFixedWidths: $totalFixedWidths - $columnWidth;
        }

        @include _column($totalColumns, $columnToDisplay) {
            clear: $clear;
            left: $left; 
            margin-left: $margin;
            width: $columnWidth;
        }
    }
}

@mixin _column($total, $current) {
    $column-selectors: _column-selectors($total, $current);

    #{$column-selectors} {
        @content;
    }
}

@function _column-selectors($total, $current) {
    $column-selectors: "";
    $selector-separator: "";
    $item-count: 0;

    @if ($column-policy-flag-data-attribute-support) {
        $column-selectors: $column-selectors + $selector-separator + '[data-column~="' + $total + "-" + $current + '"]';
        $selector-separator: ",";
    }

    @if ($column-policy-flag-nth-of-type-support) {
        $column-selectors: $column-selectors + $selector-separator + "> .column:nth-of-type(" + $total + "n+" + $current + ")";
        $selector-separator: ",";
    }

    @if ($column-policy-flag-nth-child-hack-support) {
        @while ($item-count < $column-policy-flag-nth-child-hack-depth) {
            $column-selectors: $column-selectors + $selector-separator + _nth-child-hack($item-count + $current, ".column");
            $nth-child-separator: ",";
            $item-count: $item-count + $total;
        }
        $selector-separator: ",";
    }

    @return $column-selectors;
}

@function _nth-child-hack($number, $element) {
    $selector: $element + ":first-child";
    $minimum: 2;

    @for $i from $minimum through $number {
        $selector: $selector + " + " + $element;
    }

    @return $selector;
}

@mixin column-policy-options($use-nth-of-type:true, $use-data-attribute:false, $use-nth-child-hack:false, $set-nth-child-hack-depth:20, $use-once:false) {
    $column-policy-flag-nth-of-type-support: $use-nth-of-type;
    $column-policy-flag-data-attribute-support: $use-data-attribute;
    $column-policy-flag-nth-child-hack-support: $use-nth-child-hack;
    $column-policy-flag-nth-child-hack-depth: $set-nth-child-hack-depth;
    $column-policy-flag-use-once: $use-once;
}
