/* line 61, ../../dist/_column-policy-private.scss */
.c,
[data-column] {
  float: left;
  position: relative;
  box-sizing: border-box;
}

/* line 13, ../sass/_common.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/_common.scss */
body {
  margin: 0;
}

/* line 21, ../sass/_common.scss */
.page-padding {
  margin: 0 20px;
  max-width: 1100px;
}
@media (min-width: 1140px) {
  /* line 21, ../sass/_common.scss */
  .page-padding {
    margin: 0 auto;
  }
}

@media (min-width: 720px) {
  /* line 157, ../../dist/_column-policy.scss */
  .page {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 83, ../../dist/_column-policy-private.scss */
  .page > .c:nth-of-type(2n+1) {
    clear: left;
    width: 50%;
  }
  /* line 83, ../../dist/_column-policy-private.scss */
  .page > .c:nth-of-type(2n+2) {
    clear: right;
    width: 50%;
  }
}
@media (min-width: 1040px) {
  /* line 157, ../../dist/_column-policy.scss */
  .page {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 83, ../../dist/_column-policy-private.scss */
  .page > .c:nth-of-type(3n+1) {
    clear: left;
    width: 320px;
  }
  /* line 83, ../../dist/_column-policy-private.scss */
  .page > .c:nth-of-type(3n+2) {
    clear: none;
    width: calc(100% - 640px);
  }
  /* line 83, ../../dist/_column-policy-private.scss */
  .page > .c:nth-of-type(3n+3) {
    clear: right;
    width: 320px;
  }
}
