/* line 48, ../../dist/_column-policy-private.scss */
.column,
[data-column] {
  float: left;
  position: relative;
  box-sizing: border-box;
}

/* line 11, ../sass/column-policy.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/column-policy.scss */
body {
  margin: 0;
}

@media (min-width: 720px) {
  /* line 152, ../../dist/_column-policy.scss */
  .page .column {
    overflow: hidden;
    *zoom: 1;
    padding-left: 0;
  }
  /* line 70, ../../dist/_column-policy-private.scss */
  .page .column > .column:nth-of-type(2n+1) {
    clear: left;
    left: 0;
    margin-left: 0;
    width: 50%;
  }
  /* line 70, ../../dist/_column-policy-private.scss */
  .page .column > .column:nth-of-type(2n+2) {
    clear: right;
    left: 0;
    margin-left: 0;
    width: 50%;
  }
}
@media (min-width: 1040px) {
  /* line 152, ../../dist/_column-policy.scss */
  .page .column {
    overflow: hidden;
    *zoom: 1;
    padding-left: 640px;
  }
  /* line 70, ../../dist/_column-policy-private.scss */
  .page .column > .column:nth-of-type(3n+1) {
    clear: left;
    left: 0;
    margin-left: -640px;
    width: 320px;
  }
  /* line 70, ../../dist/_column-policy-private.scss */
  .page .column > .column:nth-of-type(3n+2) {
    clear: none;
    left: -320px;
    margin-left: 0;
    width: 100%;
  }
  /* line 70, ../../dist/_column-policy-private.scss */
  .page .column > .column:nth-of-type(3n+3) {
    clear: right;
    left: 0%;
    margin-left: -320px;
    width: 320px;
  }
}

/* line 33, ../sass/column-policy.scss */
.page-padding {
  margin: 0 0;
  max-width: 1120px;
}
@media (min-width: 1120px) {
  /* line 33, ../sass/column-policy.scss */
  .page-padding {
    margin: 0 auto;
  }
}
