/* line 65, ../../dist/_column-policy-private.scss */
.column,
[data-column] {
  float: left;
  position: relative;
  box-sizing: border-box;
}

/* line 13, ../sass/_common.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/_common.scss */
body {
  margin: 0;
}

/* line 21, ../sass/_common.scss */
.page-padding {
  margin: 0 20px;
  max-width: 1100px;
}
@media (min-width: 1140px) {
  /* line 21, ../sass/_common.scss */
  .page-padding {
    margin: 0 auto;
  }
}

/* line 4, ../sass/ie-columns.scss */
.page {
  min-width: 850px;
}
/* line 157, ../../dist/_column-policy.scss */
.page {
  overflow: hidden;
  *zoom: 1;
}
/* line 87, ../../dist/_column-policy-private.scss */
.page .column:first-child, .page .column:first-child + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column {
  clear: left;
  width: 320px;
  padding-left: 0;
  padding-right: 0px;
}
/* line 87, ../../dist/_column-policy-private.scss */
.page .column:first-child + .column, .page .column:first-child + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column {
  clear: none;
  width: calc(100% - 640px);
  padding-left: 0;
  padding-right: 0px;
}
/* line 87, ../../dist/_column-policy-private.scss */
.page .column:first-child + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column, .page .column:first-child + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column + .column {
  clear: right;
  width: 320px;
  padding-left: 0;
  padding-right: 0px;
}
