/* line 64, ../../dist/_column-policy-private.scss */
.column,
[data-column] {
  float: left;
  position: relative;
  box-sizing: border-box;
}

/* line 13, ../sass/_common.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/_common.scss */
body {
  margin: 0;
}

/* line 21, ../sass/_common.scss */
.page-padding {
  margin: 0 20px;
  max-width: 1100px;
}
@media (min-width: 1140px) {
  /* line 21, ../sass/_common.scss */
  .page-padding {
    margin: 0 auto;
  }
}

@media (min-width: 720px) {
  /* line 157, ../../dist/_column-policy.scss */
  .page {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 88, ../../dist/_column-policy-private.scss */
  .page > .column:nth-of-type(2n+1) {
    clear: left;
    margin-right: 0px;
    padding-right: 0px;
    width: 50%;
    padding-left: 0;
    padding-right: 0px;
  }
  /* line 88, ../../dist/_column-policy-private.scss */
  .page > .column:nth-of-type(2n+2) {
    clear: right;
    margin-right: 0px;
    padding-right: 0px;
    width: 50%;
    padding-left: 0;
    padding-right: 0px;
  }
}
@media (min-width: 1040px) {
  /* line 157, ../../dist/_column-policy.scss */
  .page {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 88, ../../dist/_column-policy-private.scss */
  .page > .column:nth-of-type(3n+1) {
    clear: left;
    margin-right: 0;
    padding-right: 0;
    width: 320px;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 88, ../../dist/_column-policy-private.scss */
  .page > .column:nth-of-type(3n+2) {
    clear: none;
    margin-right: -640px;
    padding-right: 640px;
    width: 100%;
    padding-left: 0;
    padding-right: 640px;
  }
  /* line 88, ../../dist/_column-policy-private.scss */
  .page > .column:nth-of-type(3n+3) {
    clear: right;
    margin-right: 0;
    padding-right: 0;
    width: 320px;
    padding-left: 0;
    padding-right: 0;
  }
}
